.tile-container2{
    display: flex;
    gap: 10px;
    border: 1px solid black;
    justify-content: space-between;
    border-radius: 5px;
    padding: 15px;
}

.tile-container2:hover{
    background-color: lightgrey;
}

span{
    font-weight: bold;
}